.parent
{
    background-color: dimgray;
    border: 2px solid black;
    color:white;
    padding: 20px;
   
    display: flex;
    /* flex-direction:row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center ;
    /* align-items: center; */
}
.parent > div
{
    background-color: rgb(54, 153, 83);
    padding: 10px;
    margin: 10px;

}
#eight{
    order:-1;
}
#one{
    order: 1;
}
.xxx{
    /* flex-grow: 4; */
    /* flex-shrink: 4; */
    flex-basis: 20px;
  
}